<div>
    Bonjour, je m'appel Julien, j'ai été captiver par l'informatique au college et ai décider d'en faire mon metier,<br>
    depuis j'ai fait un BAC spécialité NSI et math pour ensuite faire des études supérieurs à l'IUT informatique du Puy-en-Velay <br>
    ou j'étudie actuellement en deuxième année. Je suis également fasciner par les jeux vidéo et tout les différents type existant, en particulier ceux en VR. <br>
     Je suis une personne joviale et serieux toujours prêt à aider des amies dans le besoin. Si vous voulez me contacter n'hésiter pas.
</div>