<div>
    <p>
Bonjour, je m'appelle Julien, j'ai été captivé par l'informatique au college et j'ai décidé d'en faire mon metier.<br>
Depuis j'ai fait un BAC spécialité NSI et math pour ensuite faire des études supérieures à l'IUT informatique du Puy-en-Velay <br>
Durant mon temps libre j'adore coder mes différents projets et jouer aux jeux vidéo, en hiver j'aime prendre des skis pour dévaler les pentes à toute vitesse. <br>
où j'étudie actuellement en deuxième année. Je suis également fasciné par les jeux vidéo et tous les différents types existant, en particulier ceux en VR. <br>
Je suis une personne joviale mais sais être sérieux quand il le faut, je suis toujours prêt à aider des ami(e)s dans le besoin. <br>
Si vous voulez me contacter n'hésitez pas.
</p>
</div>